################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExoPlayer.Forms/ExoPlayer.Forms/bin/Debug
/ExoPlayer.Forms/ExoPlayer.Forms/obj
/ExoPlayer.Forms/ExoPlayer.Forms.Droid/bin/Debug
/ExoPlayer.Forms/ExoPlayer.Forms.Droid/obj
/packages/Xam.Plugins.Android.ExoPlayer.1.5.10
/packages
